<html>
    <head>
        <title>Racheal's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Racheal's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>The year is 2019 and we have all come to realise that technology and data is the future..</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I'm finally getting the hang of this</p>
        </div>
    </body>
